extends layout 

block content
  .section
    .container
    .column.is-8.is-offset-2
        p.title Edit comment
        .box
          .media
            figure.media-left
              p.image
                img(src=`${user.gravatar}&d=robohash`, alt="user avatar")
            .media-content
              form(action=`/posts/${postId}/comments/${comment._id}?_method=PUT` method="POST")
                .field
                  .control
                    textarea.textarea(name="text")= comment.text
                .field
                  .control
                    button.button.is-info Update comment
            .media-right
              a.button.is-small(href=`/posts/${postId}`) Cancel