extends layout

include mixins/_comment
include mixins/_commentForm

block content
  .section.section--no-padding-LR
    .container
      .column.is-10.is-offset-1
        .box.post
          figure.post__avatar.has-text-centered
            img.post__author-image(src=`${post.author.gravatar}&d=robohash`, alt=`${post.author.username}`)
          .content
            .post__title.has-text-centered
              h1= post.title
              small Posted on #{moment(post.created).format('MMM D, YYYY')} by 
                span.has-text-primary #{post.author.username} 
            figure.post__figure
              - const imageSrc = post.image ? `/uploads/${post.image}` : '/img/blogpost.jpeg'
              img.post__image(src=imageSrc alt=`${post.title}`)
            .post__body
              p= post.description
            hr
            .post__footer.has-text-right
              a.button.is-size-7-mobile(href="/posts") Back
        .box
          .content
            h4.has-text-weight-normal Comments
            hr
            
            if user
              +commentForm(post)
            
            each comment in post.comments
              +comment(comment, post)
    