extends layout

include mixins/_comment
include mixins/_commentForm

block content
  section.section
    .container  
      .content
        .box
          figure
            img(src=`/uploads/${post.image || 'blogpost.jpeg'}`, alt=`${post.title}`)
          .has-text-centered
            h1.title.is-3= post.title
            p 
              small 
                em Date created: #{post.created}
          hr
          p= post.description
          p.has-text-right
            a.button(href="/posts") Back
          hr
          
          .box
            if user
              +commentForm(post)
            
            each comment in post.comments
              +comment(comment, post)     
      
    