mixin comment(comment = {}, post = {})

  - const commentOwner = user ? comment.author.equals(user._id) : null

  .media
    figure.media-left
      p.image.is-64x64
        img(src=`${comment.author.gravatar}&d=robohash`, alt="user avatar")
    .media-content
      p
        strong #{comment.author.username}
        br
        | #{comment.text}
        br
        small
          if commentOwner 
            a(href=`/posts/${post._id}/comments/${comment._id}/edit`) Edit 
          | · #{comment.created}

    if commentOwner   
      .media-right
        form(action=`/posts/${post._id}/comments/${comment._id}?_method=DELETE` method="POST")
          button.delete