mixin postCard(post = {})
  .card
    .card-image
      figure.image
        img(src=`/uploads/${post.image || 'blogpost.jpeg'}`, alt="random image")
    .card-content
      .content
        h1= post.title
        p Date created #{post.created}
        p= post.description
        p.has-text-right
          a.button.is-small.is-link.is-outlined(href=`/posts/${post._id}`) Read more..
    .card-footer
      a.card-footer-item.button.is-info(href=`/posts/${post.id}/edit`) Edit
      a.card-footer-item.button.is-danger(href="#") Delete
