mixin postCard(post = {})
  .card
    .card-image
      figure.image
        img(src=`/uploads/${post.image || 'blogpost.jpeg'}`, alt="random image")
    .card-content
      .content
        h1= post.title
        p Date created #{post.created}
        p= post.description
        p.has-text-right
          a.button.is-small.is-link.is-outlined(href=`/posts/${post._id}`) Read more..
    if user && post.author.equals(user._id)
      .card-footer
        a.card-footer-item.button.is-info(href=`/posts/${post.id}/edit`) Edit
        form.card-footer-item.is-paddingless(action=`/posts/${post.id}?_method=DELETE` method="POST")
          button.is-fullwidth.button.is-danger Delete