mixin postForm(post = {})

  - const actionPath = post._id ? `/posts/${post._id}?_method=PUT` : '/posts'
  
  form(action=`${actionPath}` method="POST" enctype="multipart/form-data")
    .field
      label.label.has-text-primary Title
      .control
        input.input(type="text" name="title" placeholder="Post Title.." value=post.title required autocomplete="off")
    .field
      label.label.has-text-primary Photo
      .control
        input.input.is-size-7-mobile(type="file" name="image" accept="image/gif, image/png, image/jpeg")
        if post.image
          img(src=`/uploads/${post.image}`, alt=post.title width=200)
    .field
      label.label.has-text-primary Description
      .control
        textarea.textarea(name="description" placeholder="Tell more about the post....")= post.description
    .field
      .control
        button.button.is-primary.is-size-7-mobile Submit