mixin postCard(post = {})
  .card.is-flex
    .card-header
      .card-header-title
        .media
          .media-left
            figure.image.is-48x48
              img(src=`${post.author.gravatar}&d=robohash`, alt="user avatar" style="border-radius:50%")
          .media-content
            p.has-text-primary= post.author.username
            p.has-text-weight-light.has-text-grey.is-size-7 · #{moment(post.created).format('MMM D, YYYY')}
    .card-image
      figure.image
        - const imageSrc = post.image ? `/uploads/${post.image}` : '/img/blogpost.jpeg'
        img(src=imageSrc alt=post.title)
    .card-content
      .content
        h2.has-text-weight-normal= post.title
        p= post.description.split(' ').slice(0, 20).join(' ')
        a.button.is-small.is-link.is-outlined(href=`/posts/${post._id}`) Read more..
        small.is-pulled-right
          | #{post.comments.length}
          span.icon
            i.far.fa-comments
    if user && post.author.equals(user._id)
      .card-footer
        a.card-footer-item.button.is-info.is(href=`/posts/${post.id}/edit`)
          span.icon
            i.fas.fa-pencil-alt
        form.card-footer-item.is-paddingless(action=`/posts/${post.id}?_method=DELETE` method="POST")
          button.is-fullwidth.button.is-danger
            span.icon
              i.far.fa-trash-alt